{% extends "page.twig" %}

{% block title %}{{ profile.battleTag }}{% endblock %}
{% block content %}
    <h1>{{ profile.battleTag }}</h1>
    <p>
      {% for hero in profile.heroes %}
        <a href="{{ hero.id }}">{{ hero.name }}</a> [{{ hero.level }}]<br>
      {% endfor %}
    </p>
{% endblock %}